@model IEnumerable<SportsStore.Models.Auction>
@{
    Layout = "_AdminLayout";
}
<div class="bg-light p-3">
    <h2>Auctions</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Start Date & Time</th>
                <th>End Date & Time</th>
                <th>Minimum Bid</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var auction in Model)
            {
                <tr>
                    <td>@auction.Product.Name</td>
                    <td>@auction.StartDateTime</td>
                    <td>@auction.EndDateTime</td>
                    <td>@auction.MinimumBid</td>
                    <td>
                        <a asp-action="Edit" asp-route-auctionID="@auction.AuctionID" class="btn btn-primary">Edit</a>
                        <form asp-action="Delete" method="post" style="display:inline">
                            <input type="hidden" asp-for="@auction.AuctionID" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Create" class="btn btn-primary">Create Auction</a>
</div>
